
*{
	padding: 0;
	margin: 0 auto;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

// -------------------------------------------------------

// цвет фона сайта
body{
    background-color:white;
}
// стили шапки
header{
    width: 100%;
    border-bottom: 2px solid black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
    h1{
        text-align: center;
        padding: 30px 30px 10px 30px;
        font-family: 'Fredericka the Great', cursive;
        font-size: 100px;
        color: white;
    }
    h2{
        font-size: 30px;
        font-family: 'Poiret One', cursive;
        text-align: center;
        padding-bottom: 30px;
        font-weight: bold;
        color:  rgb(92, 71, 80);
    }
    //  работа с иконкой корзины
    .shop_cart{
        position: fixed;
        top: 60px;
        right: 100px;
        background-color: white;
        border: 2px solid rgba(148,187,233,1);
        border-radius: 90px;
        cursor: pointer;
        
        img{
            width: 40px;
        }
        .shop_cart-cart{
            padding: 20px;
        }
        &:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
           }
    } 
}
// стиили панели навигации
.navigate{
    border-bottom: 2px solid black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 1;
    ul{

        max-width: 1280px;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        li{
            padding: 10px;
            font-size: 20px;
            &:hover{
                background: rgba(148,187,233,1);
            }
            a{
                color:  rgb(92, 71, 80);
                font-family: 'Poiret One', cursive;
                font-weight: bold;
                &:hover{
                    color:white;

                }
            }
        }
    }
    ul .sublist{
        display: block;
        position: absolute;
        z-index: 2;
        background: rgba(148,187,233,1);
        width: 209px;
        margin-left: -10px;
        margin-top: 10px;
        display: none;
        li{
            border-bottom: 1px solid black;
            font-size: 15px;
            padding-top: 10px;
            text-align: center;
            &:first-child{
                border-top: 2px solid black;
            }
        } 
    }
    ul .sublist2{
        display: block;
        position: absolute;
        z-index: 2;
        background: rgba(148,187,233,1);
        width: 186px;
        margin-left: -10px;
        margin-top: 10px;
        display: none;
        li{
            border-bottom: 1px solid black;
            font-size: 15px;
            padding-top: 10px;
            text-align: center;
            &:first-child{
                border-top: 2px solid black;
            }
        } 
    }
    ul .sublist3{
        display: block;
        position: absolute;
        z-index: 2;
        background: rgba(148,187,233,1);
        width: 186px;
        margin-left: -10px;
        margin-top: 10px;
        display: none;
        li{
            border-bottom: 1px solid black;
            font-size: 15px;
            padding-top: 10px;
            text-align: center;
            &:first-child{
                border-top: 2px solid black;
            }
        } 
    }
    
}
// стили подвала
footer{
    border-top: 2px solid black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 20px;
    .footСontainer{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        li{
            font-size: 15px;
            padding-top: 10px;
        }
    }
    .footСontainer-help{
        .footСontainer-helpList{
            a{
                color: black;
            }
        }

        
    }
    .footСontainer-socialMedia{
        
        h2{
            text-align: center;
            padding: 15px 15px 10px 15px;
            font-family: 'Fredericka the Great', cursive;
            font-size: 50px;
            color: white;
        }
        
        .footСontainer-socialList{
            display: flex;  
            li{
                margin-left: 10px;
            }
        }
    }
}
//  карточка товара первичная
 .container__itemList{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap:wrap;
    border: none;
    .buttonCart{
        display: flex;
        justify-content: space-between;
    }
    
      .mainList{
        padding: 15px;
        margin: 15px;
        max-width: 400px;
            border-radius: 5px;
            border: 1px solid #94bbe9;
            box-shadow: 1px 1px 1px #999;
            text-align: center;
            img{
                height: 350px;
                max-width: 350px;
            }
            div h2{
                padding-top: 5px;
                padding-bottom: 5px;
                border: 1px solid #94bbe9;
                box-shadow: 1px 1px 1px #999;
                text-align: justify;
            }
            h2.price{
                font-size: 20px;
            }
      }
    .decriptionItem{
        text-decoration: none;
                outline: none;
                display: inline-block;
                width: 150px;
                height: 45px;
                line-height: 45px;
                border-radius: 5px;
                margin: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                font-weight: 600;
                color: #524f4e;
                background: rgba(82, 54, 209, 0.452);
                box-shadow: 0 8px 15px rgba(0,0,0,.1);
                transition: .3s;
                &:hover {
                    // background: #2EE59D;
                    background: rgb(238,174,202);
                    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                    box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
                    color: white;
                    transform: translateY(-7px);
                  }
    }
    .basketBut{
        text-decoration: none;
                outline: none;
                display: inline-block;
                width: 150px;
                height: 45px;
                line-height: 45px;
                border-radius: 5px;
                margin: 10px 10px;
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                font-weight: 600;
                color: #524f4e;
                background: rgba(121, 54, 209, 0.452);
                box-shadow: 0 8px 15px rgba(0,0,0,.1);
                transition: .3s;
                &:hover {
                    // background: #2EE59D;
                    background: rgb(238,174,202);
                    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                    box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
                    color: white;
                    transform: translateY(-7px);
                  }
    }
 }

 .trip{
    .mainList{
        img{
            height: 200px;
            max-width: 350px;
        }
    }
 }
 //  карточка товара вторичная
.showList{
    max-width: 700px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 20px;
    border-radius: 15px;
    border: 2px solid rgba(148,187,233,1);
    .container__desc{
        background-color: white;
        h2{
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid #94bbe9;
            box-shadow: 1px 1px 1px #999;
            
        }
        h2.price{
            font-size: 20px;
        }
    }
    // кнопка заказа
    .buttonCart{
        display: flex;
        justify-content:center;
        .buttonStyle{
                text-decoration: none;
                outline: none;
                display: inline-block;
                width: 250px;
                height: 45px;
                line-height: 45px;
                border-radius: 45px;
                margin: 10px 20px;
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                font-weight: 600;
                color: #524f4e;
                background: rgba(121, 54, 209, 0.452);
                box-shadow: 0 8px 15px rgba(0,0,0,.1);
                transition: .3s;
                &:hover {
                    // background: #2EE59D;
                    background: rgb(238,174,202);
                    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                    box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
                    color: white;
                    transform: translateY(-7px);
                  }
        }
    }
    // галлерея товаров
    .imgGalery{
    text-align: center;
    margin: 20px;
    padding: 20px;
    
    
        #thumbs{
            display: flex;
            justify-content: space-around;
        }
        #largeImg {
            width: 70%;
            // height: 400px;
            border-radius: 15px;
            border: 2px solid rgba(148,187,233,1);
          }
          
          #thumbs a {
            width: 100px;
            height: 100px;
            padding: 3px;
            margin: 2px;
          }
          #thumbs li {
            list-style: none;
                img{
                    width: 150px;
                    height: 150px;
                    margin: 10px;
                    border-radius: 15px;
                    border: 2px solid rgba(148,187,233,1);
                }
          }
          
          #thumbs {
            margin: 0;
            padding: 0;
          }
    }
}
 //  пагинация
.container-pagination{
    
    .pagination{
        display: flex;
        justify-content: center;
        li{
            padding: 10px;
           
        }
        .active{ 
            .page-link{
                background-color: rgba(148,187,233,1);
                border: 1px solid rosybrown;
            }
        }
    }
    
} 
// Круглые менюшки на главной
.homeMenu{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .text{
        font-size: 20px;
        color: black;
        background-color: white;
        border-radius: 6px;
        display: inline-block;
        padding: 5px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .butHome{
            padding-top: 90px;
            display: flex;
            justify-content:flex-end;
        .buthome-button{
            a {
                text-decoration: none;
                outline: none;
                display: inline-block;
                width: 140px;
                height: 45px;
                line-height: 45px;
                border-radius: 45px;
                margin: 10px 20px;
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                font-weight: 600;
                color: #524f4e;
                background: white;
                box-shadow: 0 8px 15px rgba(0,0,0,.1);
                transition: .3s;
                &:hover {
                    // background: #2EE59D;
                    background: rgb(238,174,202);
                    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                    box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
                    color: white;
                    transform: translateY(-7px);
                  }
              }   
        }
    }
     
    .homeMenu-list1 {
        margin: 10px;
        background-image: url(/images/homeMenu/maxresdefault.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
    .homeMenu-list2 {
        margin: 10px;
        background-image: url(/images/homeMenu/123.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border: 2px solid red;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
    .homeMenu-list3 {
        margin: 10px;
        background-image: url(/images/homeMenu/krestik.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border: 2px solid red;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
    .homeMenu-list4 {
        margin: 10px;
        background-image: url(/images/homeMenu/rumbox.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border: 2px solid red;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
    .homeMenu-list5 {
        margin: 10px;
        background-image: url(/images/homeMenu/wood.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border: 2px solid red;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
    .homeMenu-list6 {
        margin: 10px;
        background-image: url(/images/homeMenu/acses.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 200px;
        width: 400px;
        border: 2px solid red;
        border-radius: 15px;
        border: 2px solid rgba(148,187,233,1);
        &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
               }
    }
} 
// положение корзины на сайте
.popup {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; 
}
/* вид окна которое отображается после нажатия*/
.popup .popuptext {
    visibility: hidden;
    max-width: 70%;
    background-color:white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 20%;
    bottom: 10%;
    border: 2px solid rgba(148,187,233,1);
    overflow-y: auto;
}
/* добавляет  этот класс при нажати , делает корзину видимой */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* добавляет  этот класс при нажати , делает корзину не видимой */
.popup .ofshow {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
// скрывает корзину при нажатии
.displayNone{
    display: none;
}
.displayOn{
    display: block;
}

.zala{
    max-height: 100px;
}
// карточки корзины
.popuptext{
    .fullPrice{
        
            font-size: 20px;
        
    }
   .bascetCartRend{
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 10px;
       padding-right: 10px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border: 2px solid rgba(148,187,233,1);
       margin: 5px;
       img{
           max-height: 100px;
           padding-left: 10px;
           padding-right: 10px;
       }
      .butMinus{
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          margin-left: 10px;

      }
      .butPlus{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin-right: 10px;
      }
      .bascetCart-article{
          max-width: 200px;
      }
      .bascetCart-count{
          width: 30px;
      }

      input{
          width: 10px;
          margin-left: 5px;
        
      }
   }
    
}
// кнопка Оформить заказ
.button-buy{
    display: flex;
    justify-content:center;
.button-buy-full{
    a {
        text-decoration: none;
        outline: none;
        display: inline-block;
        width: 250px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: rgba(121, 54, 209, 0.452);
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        transition: .3s;
        &:hover {
            // background: #2EE59D;
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
            box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
            color: white;
            transform: translateY(-7px);
          }
      }   
}
}

.glist{
    border: none;
}
//баннер со статьей
.slider_container{
        text-align: center;
        margin-top: 20px;
        .slider_home{
            background-image: url(/images/homeMenu/banner_home.jpg);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center;
            border-radius: 15px;
            border: 2px solid rgba(148,187,233,1);
            max-width: 1260px;
            max-height: 300px;
            margin: 0 auto;
        }
        .quote{
            font-size: 30px;
            text-align: center;
            color:  rgb(92, 71, 80);
            padding: 40px;
        }
}

.show1{
    display: none;
    opacity: 0;
}
// админка
.chechksList{
    border: 2px solid black;
    padding: 10px;
    max-width: 600px;
    margin: 10px auto; 
   
    li{
        border-bottom: 1px solid black;
    }
}
// Меню доставки
.formMail{
    .delivery{
        padding: 5px;
        margin-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .deliText{
            padding: 5px;
        }
        .checks{
            display: flex;
            justify-content: space-evenly;
            margin-left: 10px;
        }
    }
    .contactForm{
        input{
            border-radius: 1px;
            padding: 4px;
            border-radius: 5px;
            border: 1px solid #94bbe9;
            box-shadow: 1px 1px 1px #999;
        }
        textarea{
             
            border-radius: 1px;
            padding: 10px;
            line-height: 1.5;
            border-radius: 5px;
            border: 1px solid #94bbe9;
            box-shadow: 1px 1px 1px #999;
        }
        .row {
            display: block;
            padding: 7px 8px;
            margin-bottom: 7px;
            &:hover {
                background: #f1f7fa;
                }
            }
            label {
                display: inline-block;
                font-size: 1.2em;
                font-weight: bold;
                width: 140px;
                padding: 6px 0;
                color: #464646;
                vertical-align: top;
            }
            .req { color: #ca5354; }
            .note {
                font-size: 1.2em;
                line-height: 1.33em;
                font-weight: normal;
                padding: 2px 7px;
                margin-bottom: 10px;
            }
            input:focus, form textarea:focus { 
                outline: none; 
            }
            .txt {
                display: inline-block;
                padding: 8px 9px;
                max-width: 250px;
                font-family: 'Oxygen', sans-serif;
                font-size: 1.35em;
                font-weight: normal;
                color: #898989;
                }
            .contactForm__goCheck{
                    input{
                            text-decoration: none;
                            outline: none;
                            display: inline-block;
                            width: 250px;
                            height: 45px;
                            // line-height: 45px;
                            border-radius: 45px;
                            margin: 10px 20px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 11px;
                            text-transform: uppercase;
                            text-align: center;
                            letter-spacing: 3px;
                            font-weight: 600;
                            color: #524f4e;
                            background: rgba(212, 48, 177, 0.452);
                            box-shadow: 0 8px 15px rgba(0,0,0,.1);
                            transition: .3s;
                            &:hover {
                                background: rgb(238,174,202);
                                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                                box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
                                color: white;
                                transform: translateY(-7px);
                              }
                    }
                }  
    }
}
.closeBascet{
    margin-top: 15px;
}

.popular_category{
    margin-top: 20px;
    h2{
        text-align: center;
        font-size: 30px;

    }
}


// увеличение картинки по клику
img[tabindex="0"] {
	cursor: zoom-in;
  }
  img[tabindex="0"]:focus {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
	width: auto;
	height: auto;
	max-width: 650px;
	max-height: 900px;
	margin: auto;
	box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
  }
  img[tabindex="0"]:focus,  /* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */
  img[tabindex="0"]:focus ~ * {
	pointer-events: none;
	cursor: zoom-out;
  }
