@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

* {
  padding: 0;
  margin: 0 auto;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: white;
}

header {
  width: 100%;
  border-bottom: 2px solid black;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

header h1 {
  text-align: center;
  padding: 30px 30px 10px 30px;
  font-family: "Fredericka the Great", cursive;
  font-size: 100px;
  color: white;
}

header h2 {
  font-size: 30px;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  color: #5c4750;
}

header .shop_cart {
  position: fixed;
  top: 60px;
  right: 100px;
  background-color: white;
  border: 2px solid #94bbe9;
  border-radius: 90px;
  cursor: pointer;
}

header .shop_cart img {
  width: 40px;
}

header .shop_cart .shop_cart-cart {
  padding: 20px;
}

header .shop_cart:hover {
  transform: scale(1.1);
}

.navigate {
  border-bottom: 2px solid black;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  z-index: 1;
}

.navigate ul {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigate ul li {
  padding: 10px;
  font-size: 20px;
}

.navigate ul li:hover {
  background: #94bbe9;
}

.navigate ul li a {
  color: #5c4750;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

.navigate ul li a:hover {
  color: white;
}

.navigate ul .sublist {
  display: block;
  position: absolute;
  z-index: 2;
  background: #94bbe9;
  width: 209px;
  margin-left: -10px;
  margin-top: 10px;
  display: none;
}

.navigate ul .sublist li {
  border-bottom: 1px solid black;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}

.navigate ul .sublist li:first-child {
  border-top: 2px solid black;
}

.navigate ul .sublist2 {
  display: block;
  position: absolute;
  z-index: 2;
  background: #94bbe9;
  width: 186px;
  margin-left: -10px;
  margin-top: 10px;
  display: none;
}

.navigate ul .sublist2 li {
  border-bottom: 1px solid black;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}

.navigate ul .sublist2 li:first-child {
  border-top: 2px solid black;
}

.navigate ul .sublist3 {
  display: block;
  position: absolute;
  z-index: 2;
  background: #94bbe9;
  width: 186px;
  margin-left: -10px;
  margin-top: 10px;
  display: none;
}

.navigate ul .sublist3 li {
  border-bottom: 1px solid black;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
}

.navigate ul .sublist3 li:first-child {
  border-top: 2px solid black;
}

@media all and (max-width: 800px) {
  .navigate {
    display: none;
  }
}

footer {
  border-top: 2px solid black;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  font-size: 20px;
}

footer .footСontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

footer .footСontainer li {
  font-size: 15px;
  padding-top: 10px;
}

footer .footСontainer-help .footСontainer-helpList a {
  color: black;
}

footer .footСontainer-socialMedia h2 {
  text-align: center;
  padding: 30px 30px 10px 30px;
  font-family: "Fredericka the Great", cursive;
  font-size: 50px;
  color: white;
}

footer .footСontainer-socialMedia .footСontainer-socialList {
  display: flex;
}

footer .footСontainer-socialMedia .footСontainer-socialList li {
  margin-left: 10px;
}

.container__itemList {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  border: none;
}

.container__itemList .mainList {
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
}

.container__itemList .mainList img {
  width: 350px;
}

.showList {
  max-width: 700px;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  margin: 20px;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.showList .buttonCart {
  display: flex;
  justify-content: center;
}

.showList .buttonCart .buttonStyle {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 250px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: rgba(121, 54, 209, 0.452);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.showList .buttonCart .buttonStyle:hover {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
  color: white;
  transform: translateY(-7px);
}

.showList .imgGalery {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.showList .imgGalery #thumbs {
  display: flex;
  justify-content: space-around;
}

.showList .imgGalery #largeImg {
  width: 70%;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.showList .imgGalery #thumbs a {
  width: 100px;
  height: 100px;
  padding: 3px;
  margin: 2px;
}

.showList .imgGalery #thumbs li {
  list-style: none;
}

.showList .imgGalery #thumbs li img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.showList .imgGalery #thumbs {
  margin: 0;
  padding: 0;
}

.container-pagination .pagination {
  display: flex;
  justify-content: center;
}

.container-pagination .pagination li {
  padding: 10px;
}

.homeMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.homeMenu .text {
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 6px;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.homeMenu .butHome {
  padding-top: 90px;
  display: flex;
  justify-content: flex-end;
}

.homeMenu .butHome .buthome-button a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.homeMenu .butHome .buthome-button a:hover {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
  color: white;
  transform: translateY(-7px);
}

.homeMenu .homeMenu-list1 {
  margin: 10px;
  background-image: url(/images/homeMenu/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list1:hover {
  transform: scale(1.1);
}

.homeMenu .homeMenu-list2 {
  margin: 10px;
  background-image: url(/images/homeMenu/123.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border: 2px solid red;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list2:hover {
  transform: scale(1.1);
}

.homeMenu .homeMenu-list3 {
  margin: 10px;
  background-image: url(/images/homeMenu/krestik.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border: 2px solid red;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list3:hover {
  transform: scale(1.1);
}

.homeMenu .homeMenu-list4 {
  margin: 10px;
  background-image: url(/images/homeMenu/rumbox.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border: 2px solid red;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list4:hover {
  transform: scale(1.1);
}

.homeMenu .homeMenu-list5 {
  margin: 10px;
  background-image: url(/images/homeMenu/wood.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border: 2px solid red;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list5:hover {
  transform: scale(1.1);
}

.homeMenu .homeMenu-list6 {
  margin: 10px;
  background-image: url(/images/homeMenu/acses.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 200px;
  width: 400px;
  border: 2px solid red;
  border-radius: 15px;
  border: 2px solid #94bbe9;
}

.homeMenu .homeMenu-list6:hover {
  transform: scale(1.1);
}

.popup {
  display: flex;
  justify-content: center;
  /*Центрирование по горизонтали*/
  align-items: center;
}

/* вид окна которое отображается после нажатия*/

.popup .popuptext {
  visibility: hidden;
  max-width: 70%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 20%;
  bottom: 10%;
  border: 2px solid #94bbe9;
  overflow-y: auto;
}

/* добавляет  этот класс при нажати , делает корзину видимой */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* добавляет  этот класс при нажати , делает корзину видимой */

.popup .ofshow {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* адаптив всплывающего окна корзины */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.zala {
  max-height: 100px;
}

.popuptext .bascetCartRend {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #94bbe9;
  margin: 5px;
}

.popuptext .bascetCartRend img {
  max-height: 100px;
  padding-left: 10px;
  padding-right: 50px;
}

.popuptext .bascetCartRend .butMinus {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-left: 10px;
}

.popuptext .bascetCartRend .butPlus {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-right: 10px;
}

.popuptext .bascetCartRend .bascetCart-article {
  max-width: 200px;
}

.popuptext .bascetCartRend .bascetCart-count {
  width: 30px;
}

.popuptext .bascetCartRend input {
  width: 10px;
  margin-left: 5px;
}

.button-buy {
  display: flex;
  justify-content: center;
}

.button-buy .button-buy-full a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 250px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: rgba(121, 54, 209, 0.452);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.button-buy .button-buy-full a:hover {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  box-shadow: 0 15px 20px rgba(121, 54, 209, 0.452);
  color: white;
  transform: translateY(-7px);
}

.glist {
  border: none;
}

.slider_container {
  text-align: center;
  margin-top: 20px;
}

.slider_container .slider_home {
  background-image: url(/images/homeMenu/banner_home.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 15px;
  border: 2px solid #94bbe9;
  max-width: 1260px;
  max-height: 300px;
  margin: 0 auto;
}

.slider_container .quote {
  font-size: 30px;
  text-align: center;
  color: #5c4750;
  padding: 40px;
}

@media all and (max-width: 1300px) {
  .slider_container .slider_home {
    max-height: 225px;
    max-width: 1000px;
  }

  .slider_container .slider_home .quote {
    font-size: 20px;
    text-align: center;
    color: #5c4750;
    padding: 20px;
  }
}

@media all and (max-width: 800px) {
  .slider_container .slider_home {
    width: 396px;
    max-height: 95px;
  }

  .slider_container .slider_home .quote {
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 1px;
  }
}

.description_magazine {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description_magazine .block1 .block1__text h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.description_magazine .block1 .block1__text p {
  text-align: center;
  font-size: 20px;
}

.description_magazine .block1 .block1__images img {
  max-height: 500px;
}

.description_magazine .block2 .block2__text h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.description_magazine .block2 .block2__text li {
  font-size: 20px;
}

.description_magazine .block2 .block2__images img {
  max-height: 500px;
}

.show1 {
  display: none;
  opacity: 0;
}

.chechksList {
  border: 2px solid black;
  padding: 10px;
  max-width: 600px;
  margin: 10px auto;
}

.chechksList li {
  border-bottom: 1px solid black;
}

